div {
  position: relative;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 2px solid black;
}

.amigo {
  border: 2px dashed #008000;
}

.familia {
  border: 2px dashed #0000FF;
}

.enemigo {
  border: 2px dashed #FF0000;
}

#mejor_amigo {
  border: 4px solid #00C957;
}

#archienemigo {
  border: 4px solid #CC0000;
}
