<!DOCTYPE html>
<html ng-app="estilos">

<head>
<meta charset="utf-8">
<title>Estilos</title>

<style>
img {
 display: block;
 margin: auto
 }
 .preguntas {
 width: 400px;
 margin: 30px auto;
 background: silver;
 padding: 20px;
 text-align: center
 }
 </style>
 </head>
 <body ng-controller="controladorEstilos">


 <img alt="incertidumbre" ng-src="{{imagenActiva}}">

 <div id="contenedorCaja" ng-hide="ocultar_menu">
<img src="http://www.sucaijiayuan.com/uploads/allimg/130113/2-130113035448.png" alt="caja">

</div>
 <div class="preguntas" ng-style="estilosAngular" ng-class="clasesAngular">
 <button ng-click="opcionA()">Opción A</button>
 <button ng-click="opcionB()">Opción B</button>
 <hr>

 <button ng-click="cambiarEstilo()">Cambiar Estilo</button>
  <button ng-click="cambiarClase()">Cambiar Clase</button>

 <hr>
 <button ng-click="ocultarCaja()">Ocultar Caja</button>
<button ng-click="mostrarCaja()">Mostrar Caja</button>
</div>

 <script src="angular/angular.min.js"></script>
 <script src="controlador.js"></script>

 </body>

</html>
