<!DOCTYPE html>
<html ng-app="mytodo">
  <title>MiTodo</title>
  <link href="css/estilos.css" rel="stylesheet" type="text/css">
  <script src="angular/angular.min.js"></script>
  <script src="controlador.js" ></script>
<body ng-controller="controladortodo">
  <h1>Mi Todo</h1>
  
    <form ng-submit="todoagregar()">
    <input type="text" ng-model="input"  placeholder="Agregar nueva tarea">
    <br>
    <input type="submit" value="agregar tarea">
    </form>
    <br>
    <div class="a" ng-repeat="x in todolista">
        <input type="checkbox" ng-model="x.done"> <span ng-bind="x.texto"></span>
    </div>
    <p><button ng-click="borrar()">quitar tarea</button></p>

</body>
</html>
